@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Ubuntu&display=swap');

:root{
    --fondoFooter: rgb(30,31,33);
    --fondoIcono: rgb(200,201,202);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: .4s all;
}
html{
    font-size: 20px;
}
.rectangulo{
    width: 100%;
    height: 800px;
    background: rgb(223, 177, 177);
    z-index: 1;
}

.whatsapp{
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 3;
}
.whatsapp img{
    height: 3.5rem;
}
/*footer*/
footer{
    font-family: 'Smooch Sans', sans-serif;
    background: var(--fondoFooter);
    padding: 2rem 3.5rem 1rem;
    display: grid;
    gap: 1rem;
    color: var(--fondoIcono);
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.footer__elemento{
    padding: 0 1.5rem;
}
.footer__titulo{
    font-size: 1.3rem;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}
.footer__encabezado{
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px var(--fondoIcono) solid;
}
.footer__subelemento{
    font-size: .8rem;
    margin-bottom: .3rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    user-select: none;
    cursor: pointer;
}
.footer__icono{
    height: 2rem;
}
.footer__estado{
    display: none;
    cursor: pointer;
}
.footer__subcontenido{
    display: block;
}
@media (max-width: 500px){
    html{
        font-size: 17px;
    }
    .whatsapp img{
        height: 3rem;
    }
    footer{
        padding: 1rem 2rem;
        grid-template-columns: 1fr;
    }
    .footer__elemento{
        padding: 0;
    }
    .footer__estado{
        display: block;
    } 
    .footer__encabezado{
        display: flex;
        justify-content: space-between;
    }   
    .footer__icono{
        height: 1.5rem;
    }
}
