/* sass sass/main.scss ./css/main.css --watch */

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Ubuntu&display=swap');
/* @charset "UTF-8"; */
/*Formato CSS*/
:root{
  --fondoFooter: rgb(30,31,33);
  --fondoIcono: rgb(200,201,202);
}

html{
  font-size: 20px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s linear;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100vh; */
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  background: #908c8c;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

/*ANIDACIÓN EN SASS*/
.header .header-nav {
  position: fixed;
  display: flex;
  height: 3.5rem;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(to top, transparent 0%, transparent 50%, black 85%);
  line-height: auto;
  filter: brightness(100%);
  overflow: hidden;
}
.header .header-nav .nav-container {
  height: 100%;
  width: 100%;
  display: inherit;
  align-items: center;
  justify-content: center;
}
.header .header-nav .container-left {
  justify-content: flex-start;
}
.header .header-nav .container-left .container-left-list {
  margin-left: 8%;
}
.container-medium a {
  display: inherit;
  align-items: center;
  height: 100%;
  color: white;
}
 .container-right {
  justify-content: flex-end;
}
.container-right-list {
  margin-right: 8%;
}
.header .change-nav {
  background-image: linear-gradient(to top, #4e4e4e 0%, #3f3c3c 50%, #0e0e0e 85%);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
ul li a {
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}
ul li a:hover {
  background-color: rgb(7, 7, 7);
  color: white;
  border-radius: 1px;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  box-shadow: 0 2px 10px 0 #f6df11;
}

.header__fondo{
  height: 100%;
  width: 100%;
}
.header__fondo img{
  height: 100%;
  width: 100%;
}


main{
  width: 100%;
}

.section-productos {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 .container-products {
  margin: 20px 0;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4,24.8%);
  grid-template-rows: repeat(2,65%);
  grid-gap: 5px;
}
.container-product {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-size: 2rem;
}
.container__img {
  height: 100%;
  width: 100%;
 
  object-fit: cover;
}
.container__img:hover{
  padding: 3px;
}
.container__name {
  font-size: 20px;
}
 .container__description {
  font-size: 10px;
}
.container-product:first-child,
 .container-product:nth-child(2) {
  background: black;
  color: white;
}
 .container-product:nth-child(3),
 .container-product:nth-child(4) {
  background: #858584;
}
 .container-product:nth-child(5),
.container-product:nth-child(6) {
  background: #3b4430;
  color: white;
}
.container-product:first-child {
  grid-column: 1/3;
  grid-row: 1;
}
.container-product:nth-child(2) {
  grid-column: 3/4;
  grid-row: span 2;
}


.section-locales{
  margin-top: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-locales__title{
  text-decoration: underline;
  margin-bottom: 5px;
}
.container-local{
  background-color: rgba(155, 146, 146, 0.863);
  margin-bottom: 10px;
}
.container__site{
  font-style: italic;
}
.container__map{
  padding: 10px;
}




.rectangulo{
    width: 100%;
    height: 800px;
    background: rgb(223, 177, 177);
    z-index: 1;
}

.whatsapp{
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 3;
}
.whatsapp img{
    height: 3.5rem;
}


/*nosotros*/
.nosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 3rem 0rem;
}
.nosotros__titulo{
  font-size: 1.5rem;
}
.nosotros__informacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: .5rem;
}
.nosotros__texto{
  font-size: 1rem;
  text-align: center;
}
.nosotros__img{
  width: 30%;
  min-width: 300px;
}




/*contactanos*/
.contacto{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 4rem 3rem;
  color: var(--fondoFooter);
}
.contacto a{
  color: var(--fondoFooter);
  font-weight: 550;
}
.contacto__titulo{
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.contacto__subtitulo{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}
.contacto__registro{
  display: block;
  margin-bottom: .4rem;
}
.contacto__formulario{
  display: flex;
  width: 330px;
  flex-wrap: wrap;
  gap:.6rem;
}
.contacto__formulario input,.contacto__formulario textarea{
  padding: .4rem .5rem;
  font-size: .8rem;
  height: 3rem;
  width: 100%;
}
.formulario__input:focus{
  font-size: .6rem;
  /* line-height: 2rem; */
  padding: 1rem .5rem 0rem;
}
.contacto__formulario > div{
  position: relative;
}
.__100{
  width: 100%;
}
.__50{
  width: calc(50% - .3rem);
}
.formulario__input{
  text-transform: none;
}
.formulario__input:focus + .formulario__indicaciones{
  display: block;
  position: absolute;
  font-size: .6rem;
  top: .1rem;
  left: .5rem;
  font-weight: 600;
}
.formulario__indicaciones{
  display: none;
}
#sugerencia{
  height: 6rem;
  resize: none;
}
.contacto__enviar{
  font-weight: 600;
  cursor: pointer;
  background: var(--fondoIcono);
}
.contacto__enviar:hover{
  color: var(--fondoIcono);
  background: var(--fondoFooter);
}


/*footer*/
footer{
    font-family: 'Smooch Sans', sans-serif;
    background: var(--fondoFooter);
    padding: 2rem 3.5rem 1rem;
    display: grid;
    gap: 1rem;
    color: var(--fondoIcono);
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.footer__elemento{
    padding: 0 1.5rem;
}
.footer__titulo{
    font-size: 1.3rem;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}
.footer__encabezado{
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px var(--fondoIcono) solid;
}
.footer__subelemento{
    font-size: .8rem;
    margin-bottom: .3rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    user-select: none;
    cursor: pointer;
}
.footer__icono{
    height: 2rem;
}
.footer__estado{
    display: none;
    cursor: pointer;
}
.footer__subcontenido{
    display: block;
}
@media (max-width: 500px){
    html{
        font-size: 17px;
    }
    .whatsapp img{
        height: 3rem;
    }
    footer{
        padding: 1rem 2rem;
        grid-template-columns: 1fr;
    }
    .footer__elemento{
        padding: 0;
    }
    .footer__estado{
        display: block;
    } 
    .footer__encabezado{
        display: flex;
        justify-content: space-between;
    }   
    .footer__icono{
        height: 1.5rem;
    }
}
